.options {
  font-size: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.extra {
  display: flex;
  font-size: 20px;
  gap: 15px;
}

.container {
  background: rgb(32, 32, 32);
  color: #fff;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.container p {
  margin: 0;
}

.container input[type="range"] {
  appearance: none;
  background: #333;
  height: 5px;
  width: 100%;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  position: relative;
  top: -10px;
}

.container input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 0px;
  height: 0px;
  background: #ccc;
  box-shadow: -2000px 0 0 2000px #0f0;
}

.info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.info img {
  height: 50px;
}

.tools {
  display: flex;
  justify-content: center;
}

.button {
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding: 0px 20px 10px 20px;
}

.volumenIcon {
  display: inline;
  font-size: 20px;
}

.volumen {
  display: flex;
  align-items: center;
}

.volumen input[type="range"] {
  position: unset;
  width: 100px !important;
}
