.player{
  background: #000;
  color: #fff;
}

.player-tools {
  display: flex;
  justify-content: center;
}

.player-button {
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
}

.player p {
  margin: 0;
}

.player input[type='range'] {
  appearance: none;
  background:#333;
  height: 5px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  position: relative;
  top: -10px;
}

.player input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 0px;
  height: 0px;
  background: #ccc;
  box-shadow: -2000px 0 0 2000px #0f0;
}

.player-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player-volume {
  width: 100px !important;
  position: static !important;
}

.player-icons {
  display: inline;
  width: 20px;
  height: 20px;
}
