.front {
  text-align: center;
}

.invisible {
  display: none;
}

.row {
  background: #000;
  border-top: 1px solid rgb(45, 45, 45);
}

.row:first-child {
  border-top: 0px solid;
}

.row td {
  padding: 0px 10px;
  text-align: start;
}

.table {
  min-width: 100%;
}

.text p {
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.swal2-popup{
  width: 200px;
  height: 200px;
}

.detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
}

.img {
  width: 40vw;
  height: auto;
  max-height: 50vh;
}

.scroll {
  overflow-y: scroll;
  height: 60vh;
}

.favorites {
  font-size: 20px;
  cursor: pointer;
}

.favorites1 {
  font-size: 20px;
  cursor: pointer;
  color: var(--mainColor);
}

.favorites :hover {
  color: var(--mainColor);
}

.iconFlaplay {
  color: #fff;
  /* margin: 8px; */
}
.iconFlaplay:hover {
  color: var(--btn);
}
.titleSong {
  font-size: 14px;
  font-family: var(--second-font);
  font-weight: 600;
}
.artistSong {
  font-size: 14px;
  font-family: var(--second-font);
  color: rgb(109, 109, 109);
}
.nameInfo {
  font-size: 32px;
  font-family: var(--main-font);
}
.albumNameInfo {
  font-family: var(--main-font);
  font-size: 16px;
}
.artisNameInfo {
  font-family: var(--main-font);
  font-size: 16px;
  color: rgb(109, 109, 109);
}

/********SCROLL BAR***********/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(51, 51, 51) #000;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(51, 51, 51);
  border: 1px solid #000;
}
