.front {
  display: flex;
  flex-direction: row;
  /* text-align: center; */
}
.containerTapaTitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  text-align: center;
}

.invisible {
  display: none;
}

.row {
  background: #000;
  border-top: 1px solid rgb(45, 45, 45);
}

.row:first-child {
  border-top: 0px solid;
}

.row td {
  padding: 5px 0px 5px 0px;
  text-align: start;
  background-color: rgb(30, 30, 30);
}

.table {
  width: 1200px;
}

.text {
  max-width: 1400px;
}

.swal2-popup{
  width: 200px;
  height: 200px;
}

.detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
}

.img {
  width: 600px;
  /* height: 400px; */
}

.favorites {
  font-size: 20px;
  cursor: pointer;
}

.favorites1 {
  font-size: 20px;
  cursor: pointer;
  color: var(--mainColor);
}

.favorites :hover {
  color: var(--mainColor);
}

.iconFlaplay {
  color: #fff;
  /* margin: 8px; */
  margin-left: 20px;
}
.iconFlaplay:hover {
  color: var(--btn);
}
.titleSong {
  font-size: 14px;
  font-family: var(--second-font);
  font-weight: 600;
}
.artistSong {
  font-size: 14px;
  font-family: var(--second-font);
  color: rgb(109, 109, 109);
}
.nameInfo {
  font-size: 70px;
  font-family: var(--main-font);
}
.albumNameInfo {
  font-family: var(--main-font);
  font-size: 24px;
}
.artisNameInfo {
  font-family: var(--main-font);
  font-size: 20px;
  color: rgb(175, 175, 175);
}
.trespuntitos {
  font-size: 20px;
  cursor: pointer;
}
.trespuntitos:hover {
  color: var(--btn);
}

.containerModal {
  width: 240px;
  height: auto;
  background-color: rgb(48, 48, 48);
  position: absolute;
  border-radius: 6px;
  padding: 16px;
  margin: 0 0 0 -250px;
}
.scroll {
  /* overflow-y: scroll; */
  /* height: 60vh; */
  margin-bottom: 100px;
}

/********SCROLL BAR***********/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(51, 51, 51) #000;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(51, 51, 51);
  border: 1px solid #000;
}

@media only screen and (max-width: 1235px) {
  .table {
    width: 800px;
  }
  .img {
    width: 400px;
  }
  .containerTapaTitulo {
    width: 400px;
  }
}

@media only screen and (max-width: 850px) {
  .table {
    width: 100%;
  }
  .row td {
    padding: 5px 10px 5px 10px;
  }
  .img {
    width: 200px;
  }
}

@media only screen and (max-width: 533px) {
  .table {
    width: 100%;
  }
  .row td {
    padding: 5px 5px 5px 5px;
  }
  .img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .front {
    flex-direction: column;
  }
  .containerTapaTitulo {
    width: 100%;
  }
}
