.allcontainer {
  z-index: -10;
  margin-bottom: 100px;
}
.containerMusic {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-left: 100px;
  height: 300px;
  width: 800px;
  /* background: red; */
}

.containerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 80px;
  font-size: 20px;
  color: #fff;
}

.containerImg {
  border-radius: 10px;
}

.liTracks {
  display: flex;
  justify-content: center;
  margin: 40px;
  color: white;
}

.containerLi {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  color: white;
  /* background: red; */
  margin: 20px;
}

.name {
  position: absolute;
  left: 80px;
}

.artistName {
  position: absolute;
  right: 500px;
}

.seconds {
  position: absolute;
  right: 30px;
}

.btn-detail {
  /* position: absolute; */
  margin-top: -8px;
  margin-left: -30px;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;
  background-color: #004dff;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  border: #004dff;
  transition: 0.5s;
}

.btn-detail:hover {
  transform: scale(1.1);
}

.btn-detail:active {
  background-color: #020cd1;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-right: 10px solid transparent;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 60%;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}

.favorites{
  position: absolute;
  left: 400px
}