.allhome {
  display: flex;
  flex-direction: column;
}
.container {
  background: #27293d;
  min-width: 753px;
}

.containerstatus {
  display: flex;
  justify-content: space-between;
}
.statusbar {
  z-index: 10;
  display: flex;
  gap: 30px;
  background: #1e1e1f;
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
}
.statusbar:hover {
  background: var(--mainColor);
  transition: 0.3s;
  cursor: pointer;
}
.content {
  padding: 20px;
  padding-top: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.module {
  margin: 10px 0px;
  background: #1e1e2f;
  padding: 15px;
  border-radius: 5px;
}

.submodule {
  align-self: center;
  width: 35%;
  background: #1e1e1f;
  padding: 12px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.submodule:hover {
  background: var(--mainColor);
  transition: 0.3s;
  cursor: pointer;
}

.feedbackComments {
  width: 500px;
  border-bottom: 1px solid;
}

.feedbackAvatar {
  padding: 0px 10px;
  display: flex;
  gap: 10px;
}

.feedbackComment {
  padding: 20px 0px;
  border-top: 1px solid;
}

.feedbackComment img {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
}

.rol {
  background-color: var(--mainColor);
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  font-weight: 500;
}
.rol:hover {
  background-color: white;
  color: var(--mainColor);
  transition: 0.5s;
}
.openuser {
  font-size: 20px;
  font-weight: 500;
}
