.cookie {
  background: var(--main-bg);
  position: fixed;
  bottom: 0%;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cookie button {
  background: #b14;
  padding: 5px 10px;
  border-radius: 5px;
}

.title {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  padding: 10px;
}

.title svg {
  font-size: 23px;
}

.close {
  display: none;
}
