.swiperGlobal{
  width: 90%;
}

.imgSwiper {
  margin-top: 20px;
  border-radius: 3px;
  width: 170px;
  height: 170px;
  object-fit: cover;
  /* border: 1px solid greenyellow; */
}

.h3Colors {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 170px;
  color: white;
  margin-top: 3px;
  /* border: 1px solid blue; */
}

.cardImages{
  height: 260px;
  /* border: 1px solid white; */
}

.containerSwiper {
  display: flex;
  justify-content: center;
  margin: 0px -22px 0px 14px;
  margin-bottom: 30px;
  /* border: 1px solid yellow; */
}

.titleGenre {
  margin-left: 25px;
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
  width: 120px;
  margin-left: 175px;
}

.buttonsFilter {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.selectorFilter {
  font-weight: 500;
  font-size: 14px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--mainColor);
  margin: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px #ccc;
  outline: hidden;
}

.buttonsFilterSelect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsFilterSelect .btnSearch {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.buttonsFilterSelect>span {
  border-bottom: 1px solid #ccc;
}

.buttonStyles {
  border: 2px solid var(--mainColor);
  border-radius: 8px;
  padding: 0px 6px 0px 6px;
  color: white;
  margin: 0px 10px 0px 10px;
  background: var(--mainColor);
}

.buttonStyles:hover {
  background-color: aliceblue;
  color: var(--mainColor);
}

.containerAlbumes {
  display: none;
}

.containerAlbumes2 {
  transition: none;
}

.buttonOff {
  border: 2px solid gray;
  border-radius: 8px;
  padding: 0px 6px 0px 6px;
  color: white;
  margin: 0px 10px 0px 10px;
  background: gray;
}

@media (max-width: 570px) {
  .buttonsFilterSelect {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
}

@media screen and (max-width: 1000px) {
  .swiperGlobal{
    width: 75%;
  }
  .containerSwiper {
    display: flex;
    justify-content: center;
    margin: 0px -24px 0px 19px;
    margin-bottom: 20px;
    /* border: 1px solid yellow; */
  }

  .imgSwiper {
    border-radius: 3px;
    width: 145px;
    height: 135px;
    object-fit: cover;
    /* border: 1px solid greenyellow; */
  }
  
  .h3Colors {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    width: 145px;
    color: white;
    font-size: 14px;
    /* border: 1px solid blue; */
  }

  .cardImages{
    margin-bottom: 10px;
    height: 240px;
    /* border: 1px solid white; */
  }

}

@media screen and (max-width: 650px) {
  .swiperGlobal{
    width: 70%;
  }
  .containerSwiper {
    display: flex;
    justify-content: center;
    margin: 0px -24px 0px 19px;
    margin-bottom: 20px;
    /* border: 1px solid yellow; */
  }

  .imgSwiper {
    border-radius: 3px;
    width: 105px;
    height: 105px;
    object-fit: cover;
    /* border: 1px solid greenyellow; */
  }
  
  .h3Colors {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    width: 105px;
    color: white;
    font-size: 12px;
    /* border: 1px solid blue; */
  }

  .cardImages{
    margin-bottom: 10px;
    height: 240px;
    /* border: 1px solid white; */
  }

}

@media screen and (max-width: 500px) {
  .swiperGlobal{
    width: 70%;
  }
  .containerSwiper {
    display: flex;
    justify-content: center;
    margin: 0px -24px 0px 19px;
    margin-bottom: 20px;
    /* border: 1px solid yellow; */
  }

  .imgSwiper {
    border-radius: 3px;
    width: 105px;
    height: 105px;
    object-fit: cover;
    /* border: 1px solid greenyellow; */
  }
  
  .h3Colors {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    width: 105px;
    color: white;
    font-size: 12px;
    /* border: 1px solid blue; */
  }

  .cardImages{
    margin-bottom: 10px;
    height: 240px;
    /* border: 1px solid white; */
  }

}