.imgSwiper {
  border-radius: 3px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  /* border: 1px solid greenyellow; */
}

.h3Colors {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 180px;
  color: white;
  margin-top: 3px;
  /* border: 1px solid purple; */
}

.containerSwiper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 250px;
  margin-bottom: 30px;
  /* border: 1px solid yellow; */
}

.albumSuperiorContainer {
  width: 100%;
  z-index: -10;
  /* margin: 0px -10px 0px -10px; */
  /* border: 1px solid red; */
}

.titleGenre {
  margin-left: 25px;
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
}

.buttonsFilter {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.selectorFilter {
  font-weight: 500;
  font-size: 14px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--mainColor);
  margin: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px #ccc;
  outline: hidden;
}

.buttonsFilterSelect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsFilterSelect .btnSearch {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.buttonsFilterSelect > span {
  border-bottom: 1px solid #ccc;
}

.buttonStyles {
  border: 2px solid var(--mainColor);
  border-radius: 8px;
  padding: 0px 6px 0px 6px;
  color: white;
  margin: 0px 10px 0px 10px;
  background: var(--mainColor);
}
.buttonStyles:hover {
  background-color: aliceblue;
  color: var(--mainColor);
}
.containerAlbumes {
  display: none;
}

.containerAlbumes2 {
  transition: none;
}

.buttonOff {
  border: 2px solid gray;
  border-radius: 8px;
  padding: 0px 6px 0px 6px;
  color: white;
  margin: 0px 10px 0px 10px;
  background: gray;
}

@media (max-width: 570px) {
  .buttonsFilterSelect {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
}
