.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabin", sans-serif;
  position: relative;
}

.mainContainerLight {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabin", sans-serif;
  position: relative;
  background-color: #eee;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 1200px;
  height: 100vh;
  background: radial-gradient(100% 100% at 100% 0%, #cf355c 0%, #0c1136 100%);
  border-radius: 10px;
  margin: 15px 0;
}

.navbarCenter {
  display: flex;
  align-items: center;
  height: 200px;
  border-bottom: 1px solid #cfca3562;
}

.circleImage {
  height: 175px;
  width: 175px;
  margin-left: 10px;
  background: gray;
  border-radius: 50%;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.circleImage:hover {
  transition: 0.5s;
}

.insideCircle {
  border-radius: 50%;
  cursor: pointer;
}

.infoNavbar {
  display: flex;
  margin: 20px 0px 0px 15px;
  flex-flow: column;
  justify-content: flex-end;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif),
    sans-serif;
}

.h2Perfil {
  margin-left: 0.2em;
  font-size: 15px;
  font-weight: 600;
}

.h1UserName {
  margin: 0.02em 0px 0.12em;
  visibility: visible;
  width: 100%;
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
}

.underUsername {
  font-size: 15px;
  margin-top: -10px;
  margin-left: 5px;
}

.premiumNormal {
  border-radius: 3px;
  background: var(--mainColor);
  border: 2px solid var(--mainColor);
  padding: 5px;
  position: absolute;
  font-weight: 600;
  top: 10px;
  right: 40px;
}

.infoDetail {
  display: flex;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 8px;
  color: white;
  height: 100px;
  width: 720px;
  background: radial-gradient(100% 100% at 100% 0%, #303638 0%, #0c11364b 100%);
  backdrop-filter: blur(10px);
  border-radius: 6px;
}

.centerInfoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 1100px;
}

.titleGenre {
  font-weight: 600;
  margin-top: -10px;
  margin-left: 29px;
}

.titleGenre2 {
  font-weight: 600;
  margin-top: 15px;
  margin-left: 29px;
}

.containerSwiper,
.containerSwiper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -24px 0px 19px;
}

.imgSwiper {
  margin-top: 40px;
  border-radius: 3px;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.swiper {
  width: 1200px;
}

.h3Colors {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: 450;
  width: 150px;
  height: 60px;
}

.h3Colors2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: 450;
  margin-top: 5px;
  width: 160px;
  height: 35px;
}

.h3artistName {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 15px;
}

.centerContainerDisplay {
  display: none;
}

.editImage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

/* ------ ESTILOS MODAL ------ */

.mainContainerModal {
  margin-top: 10px;
  width: 550px;
  height: 700px;
  border-radius: 10px;
  background: black;
  border: 5px solid var(--mainColor);
}

.containerMp3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCloseModal {
  position: absolute;
  margin-top: 9px;
  margin-left: 470px;
  color: white;
  font-size: 48px;
  cursor: pointer;
}

/* ------ FINAL ESTILOS MODAL ------ */

.carousel1,
.carousel2 {
  display: flex;
  flex-wrap: wrap;
}

/* <------ MENOR A 1230px ------> */
@media screen and (max-width: 1230px) {
  .centerContainer {
    width: 985px;
    height: 100vh;
  }

  .centerInfoContainer {
    width: 900px;
    align-items: center;
  }
  .carousel1,
  .carousel2 {
    width: 80%;
  }

  .imgSwiper {
    width: 110px;
    height: 110px;
  }

  .h3Colors,
  .h3Colors2,
  .h3artistName {
    width: 115px;
  }

  .containerSwiper,
  .containerSwiper2 {
    margin: 0px -26px 0px 19px;
  }

  .premiumNormal {
    margin-right: 77px;
  }
}

/* <------ MENOR A 1015px ------> */
@media screen and (max-width: 1015px) {
  .h1UserName {
    font-size: 45px;
  }

  .circleImage {
    width: 160px;
    height: 160px;
  }

  .centerContainer {
    width: 750px;
    height: 100vh;
  }

  .imgSwiper {
    width: 105px;
    height: 105px;
  }

  .h3Colors,
  .h3Colors2,
  .h3artistName {
    font-size: 14px;
    width: 100px;
  }

  .carousel1,
  .carousel2 {
    width: 70%;
  }

  .containerSwiper,
  .containerSwiper2 {
    margin: 0px -24px 0px 19px;
  }

  .centerInfoContainer {
    width: 700px;
    align-items: center;
  }

  /* .pDelete,
  .pMp3{
    font-size: 12px;
  } */
}

/* <------ MENOR A 780px ------> */
@media screen and (max-width: 780px) {
  .h1UserName {
    font-size: 30px;
  }

  .circleImage {
    width: 120px;
    height: 120px;
  }

  .centerContainer {
    width: 550px;
    height: 100vh;
  }

  .imgSwiper {
    width: 75px;
    height: 75px;
  }

  .h3Colors,
  .h3Colors2,
  .h3artistName {
    font-size: 12px;
    width: 90px;
  }

  .carousel1,
  .carousel2 {
    width: 80%;
  }

  .containerSwiper,
  .containerSwiper2 {
    margin: 0px -24px 0px 19px;
  }

  .centerInfoContainer {
    width: 550px;
    align-items: center;
  }

  .premiumNormal {
    font-size: 14px;
  }
  .underUsername {
    margin-top: 5px;
  }
}

/* <------ MENOR A 580px ------> */
@media screen and (max-width: 580px) {
  .h1UserName {
    font-size: 15px;
  }

  .circleImage {
    width: 100px;
    height: 100px;
  }

  .centerContainer {
    width: 370px;
    height: 100vh;
  }

  .imgSwiper {
    width: 90px;
    height: 90px;
  }

  .carousel1,
  .carousel2 {
    width: 80%;
  }

  .containerSwiper,
  .containerSwiper2 {
    margin: 0px -10px 0px 3px;
  }

  .centerInfoContainer {
    width: 400px;
    align-items: center;
    /* border: 1px solid white; */
  }

  .premiumNormal {
    font-size: 14px;
    /* margin-right: 100px; */
  }
  .underUsername {
    margin-top: 5px;
  }

  .pDelete,
  .pMp3{
    font-size: 8px;
  }

  .navbarCenter{
    margin-left: 60px;
  }
}

/* <------ MENOR A 455px ------> */
@media screen and (max-width: 455px) {
  .h2Perfil{
    font-size: 10px;
  }
  .h1UserName {
    font-size: 12px;
  }
  .underUsername{
    font-size: 10px;
  }

  .circleImage {
    width: 80px;
    height: 80px;
  }

  .imgSwiper {
    width: 100px;
    height: 100px;
  }

  .centerContainer {
    width: 300px;
    height: 100vh;
  }

  .carousel1,
  .carousel2 {
    width: 70%;
  }

  .containerSwiper,
  .containerSwiper2 {
    margin: 0px -5px 0px 5px;
  }

  .centerInfoContainer {
    width: 300px;
    align-items: center;
    /* border: 1px solid white; */
  }

  .premiumNormal {
    font-size: 14px;
  }
  .underUsername {
    margin-top: 5px;
  }

  .pDelete,
  .pMp3{
    font-size: 8px;
  }
}

/* <------ MENOR A 580px ------> */
@media screen and (max-width: 375px) {
  .h1UserName {
    font-size: 30px;
  }

  .circleImage {
    width: 110px;
    height: 110px;
  }

  .imgSwiper {
    width: 110px;
    height: 110px;
  }

  .centerContainer {
    width: 300px;
    height: 100vh;
  }

  .carousel1,
  .carousel2 {
    width: 70%;
  }

  .containerSwiper,
  .containerSwiper2 {
    margin: 0px -22px 0px 8px;
  }

  .centerInfoContainer {
    width: 300px;
    align-items: center;
    /* border: 1px solid white; */
  }

  .premiumNormal {
    font-size: 14px;
  }
  .underUsername {
    margin-top: 5px;
  }
}

@media screen and (max-width: 220px) {
  .h1UserName {
    font-size: 30px;
  }

  .circleImage {
    width: 110px;
    height: 110px;
  }

  .imgSwiper {
    width: 105px;
    height: 105px;
  }

  .centerContainer {
    width: 300px;
    height: 100vh;
  }

  .carousel1,
  .carousel2 {
    width: 70%;
    border: 1px solid blue;
  }

  .containerSwiper,
  .containerSwiper2 {
    margin: 0px 10px 0px 0px;
  }

  .centerInfoContainer {
    width: 375px;
    align-items: center;
    /* border: 1px solid white; */
  }

  .h3Colors,
  .h3Colors2,
  .h3artistName {
    font-size: 12px;
    width: 105px;
  }

  .premiumNormal {
    font-size: 14px;
  }
  .underUsername {
    margin-top: 5px;
  }
}

.buttonsDeleteMp3{
  position: relative;
  /* flex-direction: column; */
  height: 70px;
  width: 230px;
}

.btnDelete{
  margin-left: 50px;
  border-radius: 3px;
  width: 120px;
  padding: 5px;
  background-color: gray;
  /* border: 1px solid yellow; */
}

.pDelete{
  color: white;
}

.btnMp3{
  margin-left: 50px;
  border-radius: 3px;
  width: 120px;
  padding: 5px;
  margin-top: 5px;
  background-color: goldenrod;
}

.pMp3{
  color: white;
}
