.login {
  text-align: center;
  color: #fff;
  background: #111;
  height: 100vh;
}

.form {
  text-align: start;
  border-bottom: 1px solid;
}

.inputError {
  outline-color: rgb(186, 8, 8);
  border: 1px solid red;
}

.navbar{
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  border-bottom: 1px solid;
}

.navbar img {
  height: 40px;
  width: 40px;
  display: inline;
}

.options {
  padding: 10px;
  border-bottom: 1px solid;
}
.container {
  margin: auto;
  width: 40%;
}

.button {
  padding: 0 10px;
}
.msgError {
  margin-bottom: 0px;
  font-size: 14px;
  color: rgb(186, 8, 8);
  font-weight: 600;
}
.eye {
  font-size: 20px;
}
.eye:hover {
  color: #cf355c;
  transition: 300ms;
}
.containerSend {
  width: 117px;
  height: 51px;
  border: 2px solid #fff;
  border-radius: 20px;
}
.btnRegister {
  color: #cf355c;
  font-weight: 500;
  transition: 300ms;
}

.btnRegister:hover {
  color: #fff;
  border-bottom: 1px solid #cf355c;
}
.btnSend {
  padding: 8px 33px;
  font-size: 15px;
  font-weight: 600;
  margin: 4px auto;
  background-color: #cf355c;
  border-radius: 15px;
  margin-left: 5px;
  transition: 300ms;
}

.btnSend:hover {
  background-color: #fff;
  color: #cf355c;
  position: relative;
}

.form input {
  width: 70%;
  height: 20px;
  padding: 15px;
  color: #000;
  border-radius: 10px;
}
