.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--second-font);
  font-size: 16px;
  background-image: url(https://res.cloudinary.com/dyj81r2fi/image/upload/v1663170035/oxxxymiron-oksimiron-oxxxy_sy5fks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 910px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options {
  margin-bottom: 40px;
}
.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
.emailTitle {
  margin-bottom: 8px;
  width: 466px;
}
.formCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputForm {
  color: #000;
  border-radius: 6px;
  width: 470px;
  padding: 14px 16px;
  margin-bottom: 40px;
}

.eye {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  margin-top: 33px;
  margin-left: 207px;
  color: rgb(113, 113, 113);
}
.eye:hover {
  color: #cf355c;
  transition: 300ms;
}

.buttonReg {
  background-color: var(--btn);
  color: #fff;
  width: 180px;
  height: 40px;
  margin-top: 10px;
  transition: 0.2s;
  border-radius: 4px;
  border: 1px solid var(--mainColor);
  transition: 0.3s;
}
.buttonReg:hover {
  border: 1px solid #fff;
}
.btnRegister {
  color: var(--mainColor);
  font-weight: 600;
}
.btnRegister:hover {
  color: #fff;
}
.haveAccount {
  margin-top: 40px;
  font-size: 16px;
}
.msgError {
  position: absolute;
  color: rgb(241, 54, 54);
  font-size: 14px;
  margin: 0 0 20px 312px;
}
.msgErrorEmail {
  position: absolute;
  color: rgb(241, 54, 54);
  font-size: 14px;
  margin: 0 0 278px 342px;
}

@media screen and (max-width: 520px) {
  .inputForm {
    width: 340px;
    /* max-width: 370px; */
    margin-right: 10px;
  }
  .eye {
    margin-left: 142px;
  }
  .emailTitle {
    width: 344px;
  }
  .msgError {
    margin: 0 0 20px 178px;
  }
  .msgErrorEmail {
    margin: 0 0 278px 202px;
  }
}
