.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("https://res.cloudinary.com/dyj81r2fi/image/upload/v1662507616/music-powerpoint-background_ljlw8z.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
}

.containerCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.Title {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 120px;
  font-weight: 500;
  margin: 80px 0px -30px 0px;
}
.SubTitle {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 30px;
  margin-bottom: 80px;
  margin-left: 8px;
}

@media only screen and (max-width: 1042px) {
  .containerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  .Title {
    font-size: 80px;
    margin-bottom: -18px;
  }
  .SubTitle {
    font-size: 20px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 690px) {
  .subcontainer {
    justify-content: center;
    align-items: center;
  }
  .Title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
  }
  .SubTitle {
    text-align: center;
    font-size: 14px;
    width: 90%;
  }
}
