@media (max-width: 1050px) {
  .table tr td:nth-child(2), .table tr th:nth-child(2){
    display:none;
  }
}
@media (max-width: 350px) {
  .table tr td:nth-child(3), .table tr th:nth-child(3){
    display:none;
  }
}

.containerbase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerblur {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table {
  table-layout: fixed;
  width: 100%;
}
.head {
  background: var(--mainColor);
  color: #000;
}
.head th:nth-last-child(-n+2){
  width: 71px;
}
.head th:first-child {
  width: 100px;
}

.modalito {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}

th,
td {
  padding: 0px 15px;
  text-align: center;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
  margin: auto;
}
.row {
  background-color: #555;
}

.row:nth-child(even) {
  background-color: #333;
}
button {
  cursor: pointer;
}
