.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-top: 80px;
  text-align: center;
  font-size: 14px;
}

.titleAvatar {
  font-size: 20px;
  margin-bottom: 20px;
}

.buttonAvatar {
  background-color: var(--btn);
  color: #fff;
  width: 350px;
  height: 41px;
  font-size: 14px;
  cursor: pointer;
  font-family: var(--second-font);
  margin-top: 20px;
}

.buttonAvatar:hover {
  background-color: #fff;
  color: var(--btn);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  outline: 2px solid var(--btn);
}

.inputAvatar {
  background-color: var(--mainColor);
  width: 350px;
  margin-top: 14px;
}

.imgAvatarContainer {
  width: 300px;
  height: 300px;
}

.imgAvatar {
  border-radius: 50%;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputTitle {
  background-color: #1f2937;
  color: #fff;
  border: 2px solid var(--mainColor);
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: var(--second-font);
  height: 41px;
  width: 350px;
  font-size: 14px;
}

.spanTitles {
  font-family: var(--second-font);
  color: #fff;
  font-size: 16px;
  width: 350px;
  text-align: left;
  margin-bottom: 6px;
}
