.table {
  min-width: 65%;
}
.head {
  background: var(--mainColor);
  color: #000;
}

th, td {
  padding: 0px 15px;
  text-align: center;
  font-weight: normal;
}

.row {
  background-color: #555;
}

.row:nth-child(even) {
  background-color: #333;
}
button {
  cursor: pointer;
}
