.containerbase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerblur {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table {
  min-width: 65%;
}
.head {
  background: var(--mainColor);
  color: #000;
}
.modalito {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}

th,
td {
  padding: 0px 15px;
  text-align: center;
  font-weight: normal;
}
.pointer {
  cursor: pointer;
}
.row {
  background-color: #555;
}

.row:nth-child(even) {
  background-color: #333;
}
button {
  cursor: pointer;
}
