table {
  min-width: 65%;
}
th {
  background: var(--mainColor);
  color: #000;
}

th,
td {
  padding: 0px 15px;
  text-align: center;
  font-weight: normal;
}

tr {
  background-color: #555;
}

tr:nth-child(even) {
  background-color: #333;
}
button {
  cursor: pointer;
}
