.register_nabvar {
  width: 100%;
  border-bottom: 1px solid #fff;
}

.register_logo {
  padding: 10px;
  cursor: pointer;
  width: 60px;
  display: flex;
  align-items: center;
}

.register_logo span {
  font-size: 20px;
  margin-left: 10px;
  color: #cf355c;
  transition: 300ms;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgb(235, 84, 36);
}

.register_logo span:hover {
  color: #fff;
}

.space {
  width: 100%;
  height: 1px;
  border: 1px solid #fff;
  margin-bottom: 30px;
}

.form_register {
  width: 60%;
  margin: auto;
  padding: 40px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.form_register label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 40px;
}

.form_register .labelsStyles{
  margin-top: 0;
  font-weight: 600;
}

.labels234{
  font-weight: 600;
}

.form_register input {
  width: 70%;
  height: 20px;
  padding: 15px;
  color: #000;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.item {
  position: relative;
}

.back {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: #cf355c;
  transition: 300ms;
}

.back:hover {
  color: #fff;
}

.btn_token_container {
  width: 231px;
  height: 51px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 40px auto -25px auto;
}

.btn_token {
  padding: 8px 33px;
  font-size: 15px;
  font-weight: 600;
  margin: 4px auto;
  background-color: #cf355c;
  border-radius: 15px;
  margin-left: 5px;
  transition: 300ms;
}

/* ********************************** */

.register {
  background-color: #cf355c;
  font-size: 17px;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 300ms;
  display: block;
  margin: auto;
}

.register:hover {
  cursor: pointer;
  background-color: #fff;
  color: #cf355c;
}

.submit_border {
  position: relative;
}

.submit {
  bottom: 180px;
  border: 2px solid #fff;
  width: 95px;
  height: 45px;
  border-radius: 20px;
  display: block;
  margin: auto;
  margin-top: 35px;
}

.submit span {
  color: #fff;
  background-color: #cf355c;
  width: 100px;
  cursor: pointer;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 18px;
  transition: 300ms;
}

.submit span:hover {
  background-color: #fff;
  color: #cf355c;
}

.error {
  position: absolute;
  margin-left: 350px;
  color: rgb(241, 54, 54);
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
  width: 170px;
}

/* .errorRepeatPasswowrd{
  position: absolute;
  margin-left: 350px;
  margin-top: 40px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid red;
  width: 170px;
} */

.disabled {
  pointer-events: none;
}

@media screen and (max-width: 670px) {
  .form_register {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .form_register {
    width: 85%;
  }
}
