.create {
    background-image: url(https://media.istockphoto.com/vectors/music-background-vector-id1076840920?k=20&m=1076840920&s=612x612&w=0&h=7npgZI1DyLkiejEZM19R0XHWdgJGijuTK4cXZvIA72Q=);
    background-repeat: no-repeat;    
    background-size:130%;
    position: relative;
    left: 26%;
    /* background-position: center center;  */
    width: fit-content;
    padding-top: 11%;
    padding-bottom: 9%;
    margin-top: 5%;    
    display: flex;    
    /* justify-content: center; */
    border-top: 1px solid rgb(50, 50, 50);
    border-right: 1px solid rgb(25, 25, 25);
    border-radius: 7px;
    border-bottom: 5px solid rgb(25, 25, 25);
    border-left: 7px solid rgb(50, 50, 50);

}
.form {
    position: relative;
    /* bottom:200px;
    left: 100px; */
}
.item {
    background-color: rgba(240, 248, 255, 0.578);
    padding-left: 3px;
    min-width: 915px;
    padding-right: 5px;
    margin: 5px;
    font-weight: 500;
    font-size: 19px;
}
.error {
    color: red;
}
.register {
    background-color: #cf355c;
    font-size: 30px;
    font-weight: 600;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 4px;
    border-radius: 4px;
    margin-top: 10px;

}
.register:hover {
    cursor:pointer;
    background-color: #dc7f96;
    transition: 0.3s;
    /* border-radius: 15px; */
}

.submit {    
    position: relative;
    top:100px;
    left: 350px;
    padding-bottom: 7px;
    font-size: 50px;
    background-color: rgb(125, 125, 195);
    border-radius: 4px;
    font-weight: 600;
}
.submit:hover {
    cursor:pointer;    
}
.back {
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 6px;
    font-size: 40px;
    font-weight: 500;
    background-color: #cf355c;
    border-radius: 5px;
    border: 1px solid rgb(25, 25, 25);
}
.back:hover {
    background-color: #dc7f96;
    transition: 0.3s;
    border-radius: 15px;
    cursor: pointer;
}