.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://res.cloudinary.com/dyj81r2fi/image/upload/v1663170035/oxxxymiron-oksimiron-oxxxy_sy5fks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 910px;
  font-family: var(--second-font);
  font-weight: 400;
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.textContainer {
  font-size: 16px;
}
.textLink {
  font-weight: 600;
}
.textLink:hover {
  color: var(--mainColor);
}
.register_logo span:hover {
  color: #fff;
}

.form_register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inputForm {
  color: #000;
  padding: 14px 16px;
  border-radius: 6px;
  width: 100%;
  max-width: 470px;
}
.labelsStyles {
  padding-top: 40px;
  padding-bottom: 6px;
  width: 100%;
  max-width: 470px;
}

.button {
  background-color: var(--btn);
  color: #fff;
  width: 180px;
  height: 40px;
  margin-top: 40px;
  transition: 0.2s;
  border-radius: 4px;
  border: 1px solid var(--mainColor);
  transition: 0.3s;
}
.button:hover {
  border: 1px solid #fff;
}

.error {
  color: rgb(241, 54, 54);
  font-size: 14px;
}

.errorUser,
.errorEmail,
.errorPasswor,
.errorRepeatPass {
  position: absolute;
  width: 100%;
  max-width: 470px;
  text-align: right;
}
.errorUser {
  margin-bottom: 473px;
}
.errorEmail {
  margin-bottom: 225px;
}
.errorPasswor {
  margin-bottom: -23px;
}
.errorRepeatPass {
  margin-bottom: -271px;
}
.disabled {
  pointer-events: none;
}

@media screen and (max-width: 670px) {
  .form_register,
  .errorUser,
  .errorEmail {
    width: 85%;
  }
  /* .error {
    left: 35%;
  } */
}

/* @media screen and (max-width: 550px) {
  .form_register {
    width: 85%;
  }

  .error {
    left: 30%;
  }
} */
