* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2em;
  background-color: black;
  color: white;
}

.nav a {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #cf355c;
}

.header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
.logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.logoTxt {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.avatar {
  height: 40px;
  position: absolute;
  top: 1.1rem;
  right: 2rem;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 870px) {
  .header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  .header .nav {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 1s;
    transform: translateY(-100vh);
  }
  .header .responsive_nav {
    transform: none;
  }
  .avatar {
    display: none;
  }
  .nav .perfil {
    position: absolute;
    visibility: visible;
    right: 43%;
  }
  .nav .logout {
    position: relative;
    visibility: visible;
    top: 60%;
    margin-top: 100%;
  }
  .container {
    display: none;
  }
  .nav .noLogged {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
  }
}

.nav .navCloseBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.nav a {
  font-size: 1.3rem;
}
.perfil {
  position: absolute;
  visibility: hidden;
}
.logout {
  position: absolute;
  visibility: hidden;
}
.noLogged {
  position: absolute;
  top: 1.6rem;
  right: 2rem;
}
.container a {
  z-index: 30;
  text-decoration: none;
  color: white;
}
.container span:hover {
  color: #cf355c;
}
.selectPerfil {
  background-color: rgb(44, 44, 44);
  color: white;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 6em;
  border-radius: 2px;
  position: absolute;
  right: 0px;
  z-index: 30;
}

.selectPerfil > span:hover {
  color: #cf355c;
}

.searchStyle {
  position: absolute;
  left: 8%;
}
.searchStyleNologged {
  position: absolute;
  left: 8%;
}
@media only screen and (max-width: 1085px) {
  .searchStyle {
    position: absolute;
    right: auto;
    left: auto;
    top: 6%;
  }
}
.logOut {
  cursor: pointer;
}

.btnHomeLoco {
  font-size: 20px;
  cursor: pointer;
}

.btnHomeLoco:hover {
  color: #cf355c;
}
