.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackContainer input {
  color: #000;
}

.feedbackStars {
  display: flex;
  flex-direction: row;
}

.feedbackTextarea {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px;
  min-height: 100px;
  width: 300px;
  color: #000;
}
.feedbackButton {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}
