.containerall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleIcon {
  font-size: 80px;
  font-family: var(--main-font);
  margin-top: 120px;
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: center;
  max-width: 1200px;
  height: 400px;
  background-color: black;
  margin-bottom: 120px;
}
.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 40px;
}
.icon {
  font-size: 80px;
  color: var(--mainColor);
}
.title {
  font-size: 20px;
}

.phrase {
  font-size: 15px;
  color: rgb(129, 129, 129);
  width: 200px;
}

/********************************************/
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  background-image: url("https://arteculturaymusicablog.files.wordpress.com/2016/08/jazz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.titulo2 {
  margin-top: 10%;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 100px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.58);
  width: 100%;
  text-align: center;
}
.subtitulo2 {
  color: var(--mainColor);
  font-family: "Cabin", sans-serif;
  background-color: rgba(0, 0, 0, 0.58);
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
}
.button {
  background-color: var(--btn);
  color: #fff;
  width: 180px;
  height: 40px;
  margin-top: 20px;
  transition: 0.2s;
}
.button:hover {
  border: 2px solid #fff;
  outline: 2px solid var(--btn);
  transition: 0.2s;
}

@media only screen and (max-width: 1167px) {
  .container {
    width: 100%;
    height: 1200px;
  }
}

/* @media only screen and (max-width: 1167px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1200px;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    width: 500%;
  }
  .phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    color: rgb(129, 129, 129);
    width: 500%;
  }
  .icon {
    width: 120%;
    height: fit-content;
    color: var(--mainColor);
  }
}
 */
