.footer {
  background: #000;
  color: #999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.footer-social {
  gap: 20px;
  display: flex;
  padding: 25px 0px;
}

.footer-content {
  color: #999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-icons {
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}

.footer-listas {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 25px 0px;
}

.footer-logo {
  padding: 25px 0px;
}

.footer-listas div {
  display: flex;
  flex-direction: column;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  color: var(--boton-hover);
}

.footer-licencia {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-licencia a {
  text-decoration: none;
  color: #999;
}

.footer-licencia-enlaces {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
