.footer {
  background: #000;
  color: #999;
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-direction: column;
}

.footer-lista {
  background: #000;
  color: #999;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  color: #0f0;
}

.footer-lista div {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.footer-licencia {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-licencia a {
  text-decoration: none;
  color: #999;
}

.footer-licencia-enlaces {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
