.login {
  text-align: center;
  color: #fff;
}

.login-logo {
  padding: 10px;
}

.login-options {
  padding: 10px;
}

.login-options p {
  margin-top: 0px;
}

.login-container {
  margin: auto;
  width: 400px;
}

.login-form input {
  width: 70%;
  height: 20px;
  padding: 5px;
  color: #000;
  padding: 5px;
}

.login-form {
  text-align: start;
}

.input-err {
  outline-color: red;
  border: 1px solid red;
}

.msg-err {
  margin-top: 0px;
  font-size: 14px;
  color: #f00;
}
